@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/********************************
*********Global Section**********
********************************/
*{
    margin: 0;
}

html{
    height:100%;
}

body{
    min-height:100vh;
}

/********************************
*******Main content Section******
********************************/

/*main content of the site*/
.content{
    overflow : hidden;
    min-height:80vh;
}


