@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Animations de base */
.fade-in-up {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-out;
}

.fade-in-side-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-out;
}

.fade-in-side-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease-out;
}

/* Quand l’élément est visible */
.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

/*********************************
**********Home container**********
*********************************/
.home-container {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********************************
************Home banner***********
*********************************/

.home-banner {
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: #545253;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home-banner img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
    display: block;
}

/*********************************
*******Home contact section*******
*********************************/

.home-contact-section {
    margin-top:100px;
    margin-bottom:100px;
    text-align: center;
    background-color: #eeede9;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.home-contact-section h1 {
    color: #fd7d13;
    font-size: 3rem;
    margin-bottom: 10px;
}

.home-contact-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#home-contact-section-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 25px auto 0;
    background: linear-gradient(180deg, #fd7d13, #ffb347);
    color: #fff;
    padding: 12px 18px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s, background 0.3s;
    width: fit-content;
}

#home-contact-section-btn:hover {
    background: linear-gradient(180deg, #ff9100, #ffc266);
    transform: translateY(-2px);
}

/*********************************
************Home intro************
*********************************/

.home-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    min-height: 60vh;
}

.home-intro-left-side{
    position: relative;
    overflow: hidden;
    border-right: 3px solid #fd7d13;
}

.home-intro-left-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.home-intro-right-side{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align:justify;
    padding: 150px;
    background-color: #eeede9;
    border-left: 3px solid #fd7d13;
}

.home-intro-right-side h2{
    color: #fd7d13;
    margin-bottom:50px;
    font-size:1.6rem;
}

.home-intro-right-side p{
    font-size:1.2rem;
    width:80%;
    margin-bottom:10px;
}

/*********************************
*********Geographic zone**********
*********************************/
.home-zone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 60vh;
}

.home-zone-right {
    position: relative;
    overflow: hidden;
    border-left: 3px solid #fd7d13;
    
}

.home-zone-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.home-zone-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 150px;
    background-color: #eeede9;
    border-right: 3px solid #fd7d13;
}

.home-zone-left h2 {
    color: #fd7d13;
    margin-bottom: 40px;
    font-size: 1.6rem;
}

.home-zone-left p {
    font-size: 1.2rem;
    width: 85%;
    margin-bottom: 15px;
    line-height: 1.6;
}

/*********************************
********Benefits section**********
*********************************/

.home-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 100px 0;
    width: 55vw;
    border-radius:50px;
    padding: 30px 20px;
    background-color: #eeede9;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.home-benefits h1 {
    width: 100%;
    text-align: center;
    color: #fd7d13;
    font-size: 2rem;
    margin-bottom: 40px;
}

/* each benefit card */
.benefit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeede9;
    padding: 25px 20px;
    border-radius: 20px;
    min-width: 160px;
    max-width: 220px;
    text-align: center;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.15), inset 0 -2px 5px rgba(0,0,0,0.15);
    transition: transform 0.2s ease;
}

.benefit-card:hover {
    transform: translateY(-5px);

}

/* Icons */
.benefit-card svg {
    color: #fd7d13;
    margin-bottom: 15px;
}

.benefit-card p {
    font-size: 1.1rem;
    font-weight: 600;
    color: #303030;
}

/* Prestations */
.home-services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Carte prestation (NavLink) */
#service-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeede9;
    padding: 40px 20px;
    border-radius: 20px;
    min-width: 180px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#service-card:hover {
    transform: translateY(-5px);
    background-color: #f5f2ef;
}